.vs/WPF30SEP/FileContentIndex/00b68530-a2ad-4f33-97ff-820ca02d5518.vsidx
.vs/WPF30SEP/FileContentIndex/3a540c98-25d2-4012-a261-ade2b1ca0c6c.vsidx
.vs/WPF30SEP/FileContentIndex/8f425467-eaf2-4da5-9696-60779d26ba32.vsidx
.vs/WPF30SEP/FileContentIndex/b74a442d-198b-43a5-9178-759b529b36df.vsidx
.vs/WPF30SEP/FileContentIndex/fb6db96e-d2c9-4c85-90d9-6a85a9587339.vsidx
.vs/WPF30SEP/FileContentIndex/2f5e30a7-8de5-412f-a4ac-cc0648305a7b.vsidx
obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0-windows/App.g.i.cs
obj/Debug/net8.0-windows/GeneratedInternalTypeHelper.g.i.cs
obj/Debug/net8.0-windows/WPF30SEP.AssemblyInfo.cs
obj/Debug/net8.0-windows/WPF30SEP.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/WPF30SEP.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/WPF30SEP.GlobalUsings.g.cs
obj/Debug/net8.0-windows/WPF30SEP_MarkupCompile.i.cache
obj/Debug/net8.0-windows/WPF30SEP_MarkupCompile.i.lref
obj/Debug/net8.0-windows/Views/Windows/MainWindow.g.i.cs
obj/Debug/net8.0-windows/Views/Windows/ModalWindow.g.i.cs
obj/Debug/net8.0-windows/Views/Windows/StudentEditorWindow.g.i.cs
.vs/WPF30SEP/FileContentIndex/3274ccae-4c69-4c14-9ba6-e8bd8b21ced7.vsidx
.vs/
